* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px;
    background: linear-gradient(99.32deg, #05303E 0.81%, #2EB1DA 102.45%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
}

input {
    margin: 10px 0;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    padding: 3px 28px;
    border: 0;
    cursor: pointer;
    background: #022835;
    color: #FFFFFF;
}

.erro {
    background: red;
    padding: 15px;
}

.container-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.container-input {
    display: flex;
    justify-content: center;
}

.texto-longo{
    text-align: center;
    width: 50%;
}